<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<!-- Bootstrap CSS (load from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
<!-- load in personal stylesheet -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- jQuery (load from a CDN) -->
<link rel="shortcut icon" href="/images/favicon.ico">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
 <script type='text/javascript' src='path/to/ng-infinite-scroll.min.js'></script>
<script src="/javascripts/script.js"></script>
<style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="portfolioApp" ng-controller="mainController">

<!-- HEADER AND NAVBAR -->
  <header>
    <nav id="index_head" class="navbar navbar-default">
        <img id="hero_img" src="images/hero2.png">
    <div class="container">
      
        <ul id="nav_saber" class="nav navbar-nav navbar-right">
            <li><a id="nav_home" href="#"><!-- <i class="fa fa-home"></i> -->Home</a></li>
            <li><a id="nav_about" href="#about"><!-- <i class="fa fa-shield"></i>  -->About Me</a></li>
            <li><a id="nav_projects" href="#projects">Projects</a></li>
            <li><a id="nav_resume" href="images/RobertWeilbaecherResume.pdf" target="_new">Resume</a></li>
            <li><a id="nav_artwork" href="#artwork">Artwork</a></li>
            <li><a id="nav_contact" href="#contact"><!-- <i class="fa fa-comment"></i>  -->Contact</a></li>
            
            
    <!-- resume direct links to pdf of resume -->
            
        </ul>
    </div>
    </nav>
  </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main" ng-controller="mainController as mainCtrl">
        
        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>
    </div>
    <script type="text/javascript">
        var isChrome = !!window.chrome && !!window.chrome.webstore;
        if (isChrome) {
            $("#nav_resume").on('click', function(){
                alert("Note: due to a bug for displaying pdf's in chrome - you have to right click the resume link and choose the 'Open Link in Incognito Window' option in order to view the resume pdf - I apologize for any inconvience");
                return false;
            });
        }
    </script>
</body>
</html>