<!-- about.html -->
<div id="about_page" class="jumbotron text-center">
  <div id="about_container">
    <p id="about_p">Greetings. I am Bob Weilbaecher - an Austin based web designer.</p>
    <div>
        <label>Name:</label>
        <input id="about_name" type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{yourName}}!</h1>
      </div>
    <ul id="about_ul">
      <li>I am an ER doctor in career transition</li>
      <li>I enjoy cross-fit high intensity exercise and martial arts</li>
      <li>I take pleasure in playing intense board games - like Arkham Horror</li>
      <li>I love Clasic Sci-fi and prefer old fashioned special effects and models to CGI</li>
      <li>I would love to go to Mars</li>
      <li>Pulling all nighters to get the job done is my speciality</li>
      <li>I am a coding Ninja</li>
      <img src="http://1.viki.io/d/1863c/8b75dc48c9.gif" />
  </div>
</div>