<div ng-controller="artworkController" id="artwork_page" class="jumbotron text-center">
	<div id="artwork_container">
	  <h2 id="artwork_p">"Live your life as a work of art" - Friedrich Nietzsche</h2>
	  <ul id="artwork_ul">
	  	<h3 id="artwork_p">Test for Angular likes</h3>
	  	<div ng-repeat="artwork in artworks | orderBy:'-likes'">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementLikes(artwork)"></span>
        {{artwork['likes']}}
        <span style="font-size:20px; margin-left:10px;">
          <li class="artowork_list"><img class="artwork_images" src="{{artwork['url']}}" /></li>
        </span>
      </div>
	    <!-- <li class="artwork_list"><img id="artwork_1image" src="/images/Artwork/IMG_1.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_2image" src="/images/Artwork/IMG_2.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_3image" src="/images/Artwork/IMG_3.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_4image" src="/images/Artwork/IMG_4.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_5image" src="/images/Artwork/IMG_5.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_6image" src="/images/Artwork/IMG_6.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_7image" src="/images/Artwork/IMG_7.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_8image" src="/images/Artwork/IMG_8.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_9image" src="/images/Artwork/IMG_9.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_10image" src="/images/Artwork/IMG_10.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_11image" src="/images/Artwork/IMG_11.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_12image" src="/images/Artwork/IMG_12.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_13image" src="/images/Artwork/IMG_13.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_14image" src="/images/Artwork/IMG_14.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_15image" src="/images/Artwork/IMG_15.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_16image" src="/images/Artwork/IMG_16.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_17image" src="/images/Artwork/IMG_17.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_18image" src="/images/Artwork/IMG_18.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_19image" src="/images/Artwork/IMG_19.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_20image" src="/images/Artwork/IMG_20.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_21image" src="/images/Artwork/IMG_21.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_22image" src="/images/Artwork/IMG_22.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_23image" src="/images/Artwork/IMG_23.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_24image" src="/images/Artwork/IMG_24.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_25image" src="/images/Artwork/IMG_25.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_26image" src="/images/Artwork/IMG_26.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_27image" src="/images/Artwork/IMG_27.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_28image" src="/images/Artwork/IMG_28.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_29image" src="/images/Artwork/IMG_29.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_30image" src="/images/Artwork/IMG_30.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_31image" src="/images/Artwork/IMG_31.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_32image" src="/images/Artwork/IMG_32.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_33image" src="/images/Artwork/IMG_33.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_34image" src="/images/Artwork/IMG_34.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_35image" src="/images/Artwork/IMG_35.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_36image" src="/images/Artwork/IMG_36.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_37image" src="/images/Artwork/IMG_37.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_38image" src="/images/Artwork/IMG_38.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_39image" src="/images/Artwork/IMG_39.jpg" /></li>
	     <li class="artwork_list"><img id="artwork_40image" src="/images/Artwork/IMG_40.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_41image" src="/images/Artwork/IMG_41.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_42image" src="/images/Artwork/IMG_42.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_43image" src="/images/Artwork/IMG_43.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_44image" src="/images/Artwork/IMG_44.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_45image" src="/images/Artwork/IMG_45.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_46image" src="/images/Artwork/IMG_46.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_47image" src="/images/Artwork/IMG_47.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_48image" src="/images/Artwork/IMG_48.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_49image" src="/images/Artwork/IMG_49.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_50image" src="/images/Artwork/IMG_50.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_51image" src="/images/Artwork/IMG_51.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_52image" src="/images/Artwork/IMG_52.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_53image" src="/images/Artwork/IMG_53.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_54image" src="/images/Artwork/IMG_54.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_55image" src="/images/Artwork/IMG_55.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_56image" src="/images/Artwork/IMG_56.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_57image" src="/images/Artwork/IMG_57.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_58image" src="/images/Artwork/IMG_58.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_59image" src="/images/Artwork/IMG_59.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_60image" src="/images/Artwork/IMG_60.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_61image" src="/images/Artwork/IMG_61.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_62image" src="/images/Artwork/IMG_62.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_63image" src="/images/Artwork/IMG_63.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_64image" src="/images/Artwork/IMG_64.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_65image" src="/images/Artwork/IMG_65.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_66image" src="/images/Artwork/IMG_66.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_67image" src="/images/Artwork/IMG_67.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_68image" src="/images/Artwork/IMG_68.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_69image" src="/images/Artwork/IMG_69.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_70image" src="/images/Artwork/IMG_70.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_71image" src="/images/Artwork/IMG_71.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_72image" src="/images/Artwork/IMG_72.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_73image" src="/images/Artwork/IMG_73.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_74image" src="/images/Artwork/IMG_74.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_75image" src="/images/Artwork/IMG_75.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_76image" src="/images/Artwork/IMG_76.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_77image" src="/images/Artwork/IMG_77.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_78image" src="/images/Artwork/IMG_78.jpg" /></li>
	    <li class="artwork_list"><img id="artwork_79image" src="/images/Artwork/IMG_79.jpg" /></li> -->
	  </ul>
	</div>
</div>