<div id="artwork_page" class="jumbotron text-center">
	<div id="artwok_container">
	  <h2 id="artwork_p">"Live your life as a work of art" - Friedrich Nietzsche</h2>
	  <ul id="artwork_ul">
	    <li><img id="artwork_1image" src="/images/First_picture.jpg" /><br></li>
	    <li><img id="artwork_2image" src="/images/Second_picture.jpg" /><br></li>
	    <li><img id="artwork_3image" src="/images/Third_picture.jpg" /></li>
	  </ul>
	</div>
</div>