<!-- contact.html -->
    <div id="contact_page" class="jumbotron text-center">
    	<div class="row">
    		<div class="col-md-12"><h1>Contact Me</h1></div>
    		<div class="col-md-12"><p>Name: Bob Weilbaecher</p></div>
    		<div class="col-md-12"><p>City: Austin</p></div>
    		<div class="col-md-12"><p>E-mail:robertgweilbaecher@gmail.com</p></div>
    		<div class="col-md-12"><p>Twitter: @robertweilbaec1</p></div>
    		<div class="col-md-12"><p>Linked In: https://www.linkedin.com/in/bobweilbaecher</p></div>   
      </div>
    </div>