<div id="projects_page" class="jumbotron text-center">
	<div id="projects_container">
	  <h2 id="projects_p">Great. Here are a few of my programing projects. Enjoy!</h2>
	  <ul id="projects_ul">
	  	<li class="projects_links"><a href="https://github.com/Sahedeva/rpsrt/tree/realTime" target="_blank"><i class="fa fa-github github_icon"></i></a>&nbsp; &nbsp; RPSRT (Rock Paper Scissors Real Time)<br><br><a href="http://rpsrt8.meteor.com/" target="_blank"><img class="project_screenshots" src="/images/RPRST.png" /></a><br></li>
	    <li class="projects_links" ><a href="https://github.com/Sahedeva/CatsVersusDogs" target="_blank"><i class="fa fa-github github_icon"></i></a>&nbsp; &nbsp; Cats Vs Dogs<br><br><a href="http://Sahedeva.github.io" target="_blank"><img class="project_screenshots" src="/images/CatsVsDogs.png" /></a><br></li>
	    <li class="projects_links"><a href="https://github.com/ConnerO/TeamDanger" target="_blank"><i class="fa fa-github github_icon"></i></a>&nbsp; &nbsp; College Tracker<br><br><a href="https://dry-tundra-9497.herokuapp.com/" target="_blank"><img class="project_screenshots" src="/images/CollegeTracker.png" /></a><br></li>
	    <li class="projects_links"><a href="https://github.com/Sahedeva/BarTinder2.0" target="_blank"><i class="fa fa-github github_icon"></i></a>&nbsp; &nbsp; BarTinder<br><br><a href="http://bartinder-dev.elasticbeanstalk.com" target="_blank"><img class="project_screenshots" src="/images/BarTinder.png" /></a><br></li>
	    <li class="projects_links"><a href="https://github.com/Sahedeva/portfolio2.0" target="_blank"><i class="fa fa-github github_icon"></i></a>&nbsp; &nbsp; My <img id="meanstack" src="/images/mean_icon.png" />&nbsp;Website<br><br><a href="http://bobweilbaecher.com" target="_blank"><img class="project_screenshots" src="/images/portfolio_screenshot.png" /></a><br></li>
	    
	  </ul>
	</div>
</div>