<div id="projects_page" class="jumbotron text-center">
	<div id="projects_container">
	  <h2 id="projects_p">Great. Here are a few of my programing projects. Enjoy!</h2>
	  <ul id="projects_ul">
	    <li><a class="projects_links" href=" http://www.powerbids.com/Steve/Projects/Bob_CatsVsDogs/" target="_blank">Cats Vs Dogs</a><br><img class="project_screenshots" src="/images/CatsVsDogs.png" /><br></li>
	    <li><a class="projects_links" href="https://dry-tundra-9497.herokuapp.com/" target="_blank">College Tracker</a><br><img class="project_screenshots" src="/images/CollegeTracker.png" /><br></li>
	    <li><a class="projects_links" href="http://bartinder-dev.elasticbeanstalk.com" target="_blank">BarTinder</a><br><img class="project_screenshots" src="/images/BarTinder.png" /></li>
	    <li><a class="projects_links" href="http://rpsrt.meteor.com/" target="_blank">RPRST</a><br><img class="project_screenshots" src="/images/RPRST.png" /></li>
	  </ul>
	</div>
</div>